<div class="container">
  <h2>What topic would you like to see?</h2><br/>
  <%= render "/layouts/healthcare"%><br/>
  <%= render "/layouts/nasa"%><br/>
  <%= render "/layouts/opensource"%><br/>
</div>